<%= form_for(@teamuser) do |f| %>
   <div class="form-group">
    <%= f.label :team_id %>
    <%= f.text_field :team_id, placeholder: "ex: Gy6KFFs", class: 'form-control' %>
  </div>

  <%= f.submit "Join the team", class: 'btn btn-primary' %>
<% end %>
