.joke-button-parent {
  display: flex;
  justify-content: center;
  position: sticky !important;
  bottom: 0px;
  height: 60px;
  transition: all 0.3s ease;
  background: linear-gradient(rgba(244,244,244,0) 0%, rgba(244,244,244,1) 33%, rgba(50,50,50,1) 33%, rgba(50,50,50,1));
}

.add-joke-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 37px;
  font-weight: normal;
  background-color: #16a085;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 25px)
}

.add-joke-button:hover {
  color: white;
}

.team-button-parent {
  display: flex;
  justify-content: space-around;
  position: sticky !important;
  bottom: 0px;
  height: 60px;
  transition: all 0.3s ease;
  background: linear-gradient(rgba(244,244,244,0) 0%, rgba(244,244,244,1) 33%, rgba(50,50,50,1) 33%, rgba(50,50,50,1));
}
.add-team-button {
  width: 110px;
  height: 55px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: normal;
  background-color: #16a085;
  position: absolute;
  bottom: 20px;
  left: 10%;
}

.add-team-button:hover {
  color: white;
}

.join-team-button {
  width: 110px;
  height: 55px;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: normal;
  background-color: #16a085;
  position: absolute;
  bottom: 20px;
  right: 10%;
}

.join-team-button:hover {
  color: white;
}

#like-btn {
font-size: 10px;
}

button {
  border:0; background:none;
}

.heart-red {
  color: #fe4a49;
  padding-right: 8px;
  padding-left: 8px;
}

.button_to {
  border-style: dotted !important;
}
