.team-page {
  .nav {
    display: flex;
    justify-content: space-between;
    background-color : #16A085;

    li {
      width: 50%;
      text-align: center;

      a {
        color: white;
        font-size: 17px;
        &:hover {
          background-color : #16A085;
        }
      }
    }

    li.active {
      a {
        background-color: #f4f4f4 !important;
        color: #16A085 !important;
        border-radius: 4px 4px 0 0;
      }
    }
  }
}
