.teambar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #16A085;
  transition: all 0.3s ease;
  padding: 10px 20px;
  display: flex;
  align-items: start;
  justify-content: left;
  color: white;
  position: sticky !important;
  top: 70px;
  z-index: 10;
  min-height: 90px;
}

.teambar p {
  font-weight: lighter;
  font-size: 12px;
  margin: 0;
}

.teambar h1 {
  font-size: 17px;
  margin: 0;
}

.back {
  padding-right: 25px;

  a {
    color: white;
  }
}
