.teams {
  min-height: calc(100vh - 70px);
}

.team {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.team:last-child {
  border-bottom: none;
}

.team-body h2 {
  flex-grow: 1;
  color: rgba(0,0,0,0.9);
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

.team-body p {
  flex-grow: 1;
  color: rgba(0,0,0,0.9);
  font-weight: lighter;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

.team-like {
  font-size: 10px;
  font-weight: lighter;
  color: rgba(0,0,0,0.9);
  display: flex;
  text-align: center;
  justify-content: right;
  align-items: center;

}
