.teambar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #16A085;
  transition: all 0.3s ease;
  padding: 10px 20px;
  display: flex;
  align-items: start;
  justify-content: left;
  color: white;
  flex-direction: column;
}

.teambar p {
  font-weight: lighter;
  font-size: 10px;
  margin: 0;
}

.teambar h1 {
  font-size: 15px;
  margin: 0;
}
